<div class="container">
    <form action="/doc/save" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleFormControlFile1">Загрузить файл</label>
            <input type="file" class="form-control-file" id="file-uploader">
            <input type="submit" id="btn-save-doc">
        </div>
    </form>
</div>